body {
  font-family: "Manrope", sans-serif;
}
body header .header-div {
  background-color: #101010;
  border-bottom: 1px solid #fff;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
}
body header .header-div .header-left-part {
  display: flex;
  gap: 60px;
}
body header .header-div .header-left-part a button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
body header .header-div .header-links {
  display: none;
}
body header .header-div .header-links .link-home:hover,
body header .header-div .header-links .link-headphones:hover,
body header .header-div .header-links .link-speakers:hover,
body header .header-div .header-links .link-earphones:hover {
  color: #d87d4a;
}
body header .header-div .header-right-part a button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  body header .header-div {
    padding: 37px 40px 32px;
  }
}
@media (min-width: 1000px) {
  body header .header-div .header-left-part .hamburger-menu {
    display: none;
  }
  body header .header-div .header-links {
    display: flex;
    gap: 34px;
  }
  body header .header-div .header-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
  }
}
@media (min-width: 1440px) {
  body header .header-div {
    padding: 32px 165px 36px;
  }
}
body header .hidden-div {
  padding: 84px 24px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
  display: none;
}
body header .hidden-div .div {
  width: 100%;
  height: 165px;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .hidden-div .div .img-div {
  width: 138px;
  height: 88px;
}
body header .hidden-div .div .img-div .accessory-img {
  position: relative;
  top: -40px;
}
body header .hidden-div .div .img-div-3 {
  width: 165px;
}
body header .hidden-div .div p {
  font-size: 15px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 1.0714285374px;
  text-transform: uppercase;
}
body header .hidden-div .div a {
  margin: 17px 0 0;
  display: flex;
  align-items: center;
  gap: 13.32px;
  text-decoration: none;
}
body header .hidden-div .div a p {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
body header .hidden-div .div a img {
  width: 9px;
  height: 14px;
}
@media (min-width: 550px) {
  body header .hidden-div {
    padding: 108px 40px 67px;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  body header .hidden-div .div {
    max-width: 350px;
  }
}
body main {
  position: relative;
  background-color: #fafafa;
}
body main .products {
  position: absolute;
  padding: 31px 28px;
  top: 24px;
  right: 24px;
  left: 24px;
  max-width: 100%;
  border-radius: 8px;
  background-color: #fff;
  display: none;
}
body main .products .number-of-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 31px;
}
body main .products .number-of-products h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142687px;
}
body main .products .number-of-products p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-decoration: underline;
  cursor: pointer;
}
body main .products .number-of-products p:hover {
  color: #d87d4a;
}
body main .products .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 0;
}
body main .products .total p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
body main .products .total .price {
  font-size: 18px;
  font-weight: 700;
}
body main .products a {
  margin: 0;
  padding: 0;
}
body main .products a button {
  margin: 24px 0 0;
  width: 100%;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
body main .products a button:hover {
  background-color: #fbaf85;
}
@media (min-width: 425px) {
  body main .products {
    width: 377px;
    right: 0;
    left: calc(100% - 377px - 24px);
  }
}
@media (min-width: 768px) {
  body main .products {
    left: calc(100% - 377px - 40px);
  }
}
@media (min-width: 1440px) {
  body main .products {
    left: calc(100% - 377px - 165px);
    top: 32px;
  }
}
body main .goBack {
  display: block;
  padding: 16px 0 0 24px;
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  body main .goBack {
    padding: 39px 0 0 48px;
  }
}
@media (min-width: 1440px) {
  body main .goBack {
    padding: 79px 0 0 165px;
  }
}
body main form {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 24px 24px 0;
  padding-bottom: 120px;
}
body main form .form-top {
  background-color: #fff;
  padding: 24px 24px 32px;
  border-radius: 8px;
}
body main form .form-top h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1px;
}
body main form .form-top .details {
  margin: 32px 0 0;
}
body main form .form-top .details h3 {
  text-transform: uppercase;
  color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.928571403px;
}
body main form .form-top .details .payment {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
body main form .form-top .details .payment p {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164px;
  margin: 16px 0 0;
}
body main form .form-top .details .payment .label-div .label {
  display: flex;
  gap: 16px;
  padding: 18px 0 18px 16px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.25px;
  cursor: pointer;
}
body main form .form-top .details .payment .label-div .label input {
  cursor: pointer;
}
body main form .form-top .details .payment .label-div .label2 {
  margin: 17px 0 0;
}
body main form .form-top .details .input-field {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px 0 0;
}
body main form .form-top .details .input-field .input {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
body main form .form-top .details .input-field .input label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164px;
}
body main form .form-top .details .input-field .input input {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 18px 0 19px 24px;
}
body main form .form-top .details .input-field .input-5 input::-webkit-outer-spin-button,
body main form .form-top .details .input-field .input-5 input::-webkit-inner-spin-button,
body main form .form-top .details .input-field .input-8 input::-webkit-outer-spin-button,
body main form .form-top .details .input-field .input-8 input::-webkit-inner-spin-button,
body main form .form-top .details .input-field .input-9 input::-webkit-outer-spin-button,
body main form .form-top .details .input-field .input-9 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body main form .form-top .details .input-field .input-5 input[type=number],
body main form .form-top .details .input-field .input-8 input[type=number],
body main form .form-top .details .input-field .input-9 input[type=number] {
  -moz-appearance: textfield;
}
body main form .form-top .card-info {
  display: none;
}
body main form .form-top .information {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 30px 0 0;
  display: none;
}
body main form .form-top .information img {
  width: 48px;
  height: 48px;
}
body main form .form-top .information p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 554px;
}
body main form .form-bottom {
  background-color: #fff;
  padding: 32px 24px;
  border-radius: 8px;
}
body main form .form-bottom h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142687px;
}
body main form .form-bottom .product-list {
  margin: 31px 0 0;
}
body main form .form-bottom .pay-amount .pay {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0;
}
body main form .form-bottom .pay-amount .pay .name-of-pay {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
}
body main form .form-bottom .pay-amount .pay .pay-amount {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
body main form .form-bottom .pay-amount .pay-2,
body main form .form-bottom .pay-amount .pay-3 {
  margin: 8px 0 0;
}
body main form .form-bottom .pay-amount .pay-4 {
  margin: 24px 0 0;
}
body main form .form-bottom .pay-amount .pay-4 .pay-amount {
  color: #d87d4a;
}
body main form .form-bottom button {
  margin: 32px 0 0;
  cursor: pointer;
  border: none;
  height: 48px;
  width: 100%;
  background-color: #d87d4a;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
body main form .form-bottom button:hover {
  background-color: #fbaf85;
}
@media (min-width: 768px) {
  body main form {
    margin-inline: 40px;
    padding-bottom: 96px;
  }
  body main form .form-top {
    padding: 30px 28px;
  }
  body main form .form-top h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.1428571939px;
  }
  body main form .form-top .billing-details {
    margin: 41px 0 0;
  }
  body main form .form-top .billing-details .input-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body main form .form-top .shipping-info {
    margin: 53px 0 0;
  }
  body main form .form-top .shipping-info .input-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body main form .form-top .shipping-info .input-field .input-4 {
    grid-column: 1/3;
  }
  body main form .form-top .payment-details {
    margin: 61px 0 0;
  }
  body main form .form-top .payment-details .payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body main form .form-top .card-info,
body main form .form-top .information {
    margin: 24px 0 0;
  }
  body main form .form-top .card-info .input-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body main form .form-bottom {
    padding: 33px;
  }
}
@media (min-width: 1100px) {
  body main form {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: start;
  }
}
@media (min-width: 1440px) {
  body main form {
    margin: 0;
    padding: 38px 165px 200px;
  }
}
body footer {
  padding: 52px 24px 38px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}
body footer .footer-flex-top {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
body footer .footer-flex-top a img {
  margin: 0 auto;
}
body footer .footer-flex-top .footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body footer .footer-flex-top .footer-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
}
body footer .big-p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
}
body footer .footer-flex-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
body footer .footer-flex-bottom .small-p {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
body footer .footer-flex-bottom .social-links {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  body footer {
    padding: 60px 40px 46px 39px;
    gap: 0;
  }
  body footer .footer-flex-top {
    gap: 32px;
  }
  body footer .footer-flex-top a img {
    margin: 0;
  }
  body footer .footer-flex-top .footer-links {
    flex-direction: row;
    gap: 34px;
  }
  body footer .big-p {
    margin: 32px 0 0;
    text-align: left;
    max-width: 689px;
  }
  body footer .footer-flex-bottom {
    margin: 80px 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  body footer {
    padding: 75px 165px 48px;
  }
  body footer .footer-flex-top {
    flex-direction: row;
    justify-content: space-between;
  }
  body footer .big-p {
    max-width: 540px;
    margin: 36px 0 0;
  }
  body footer .footer-flex-bottom {
    margin: 56px 0 0;
  }
  body footer .footer-flex-bottom .social-links {
    position: relative;
    bottom: 77px;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;
}
.product .product-info {
  display: flex;
  gap: 16px;
}
.product .product-info .product-name-and-price {
  display: flex;
  flex-direction: column;
}
.product .product-info .product-name-and-price .product-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
.product .product-info .product-name-and-price .product-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
}
.product .mini-increase-decrease {
  width: 96px;
  height: 32px;
  padding: 0 11.5px;
  background-color: #f1f1f1;
  gap: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .mini-increase-decrease button {
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
.product .mini-increase-decrease button:hover,
.product .mini-increase-decrease button:active {
  color: #d87d4a;
}
.product .mini-increase-decrease p {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}/*# sourceMappingURL=checkout.css.map */