//colors:
$dark_brown: #d87d4a;
$light_brown: #fbaf85;
$black: #000;
$almost_black: #101010;
$white: #fff;
$medium_white: #fafafa;
$gray_white: #f1f1f1;

body {
  font-family: "Manrope", sans-serif;

  header {
    .header-div {
      background-color: $almost_black;
      border-bottom: 1px solid $white;
      padding: 32px 24px;
      display: flex;
      justify-content: space-between;

      .header-left-part {
        display: flex;
        gap: 60px;

        a {
          button {
            background-color: inherit;
            border: none;
            cursor: pointer;
          }
        }
      }

      .header-links {
        display: none;

        .link-home:hover,
        .link-headphones:hover,
        .link-speakers:hover,
        .link-earphones:hover {
          color: $dark_brown;
        }
      }

      .header-right-part {
        button {
          background-color: inherit;
          border: none;
          cursor: pointer;
        }
      }
    }

    // media for header div
    @media (min-width: 768px) {
      .header-div {
        padding: 37px 40px 32px;
      }
    }

    @media (min-width: 1000px) {
      .header-div {
        // padding: 32px 165px 36px;

        .header-left-part {
          .hamburger-menu {
            display: none;
          }
        }

        .header-links {
          display: flex;
          gap: 34px;

          a {
            text-transform: uppercase;
            text-decoration: none;
            color: $white;
            font-size: 13px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 2px;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .header-div {
        padding: 32px 165px 36px;
      }
    }

    // hidden div
    .hidden-div {
      padding: 84px 24px 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 68px;
      display: none;

      .div {
        width: 100%;
        height: 165px;
        border-radius: 8px;
        background-color: $gray_white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-div {
          width: 138px;
          height: 88px;

          .accessory-img {
            position: relative;
            top: -40px;
          }
        }

        .img-div-3 {
          width: 165px;
        }

        p {
          font-size: 15px;
          font-weight: 900;
          line-height: 20px;
          letter-spacing: 1.0714285373687744px;
          text-transform: uppercase;
        }

        a {
          margin: 17px 0 0;
          display: flex;
          align-items: center;
          gap: 13.32px;
          text-decoration: none;

          p {
            color: $black;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 1px;
          }

          img {
            width: 9px;
            height: 14px;
          }
        }

        a:hover {
          p {
            color: $dark_brown;
          }
        }
      }
    }

    // media for hidden div
    @media (min-width: 550px) {
      .hidden-div {
        padding: 108px 40px 67px;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        .div {
          max-width: 350px;
        }
      }
    }
  }

  main {
    position: relative;

    .goBack {
      display: inline-block;
      margin: 16px 0 0 24px;
      text-decoration: none;
      color: $black;
    }

    // section 1
    .section-1 {
      padding: 24px 24px 0;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .product-img {
        picture {
          img {
            border-radius: 8px;
            margin: 0 auto;
          }
        }
      }

      .product-content {
        h3 {
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 10px;
          color: $dark_brown;
          text-transform: uppercase;
        }

        h1 {
          font-size: 28px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 24px 0 0;
        }

        .description {
          font-size: 15px;
          font-weight: 500;
          line-height: 25px;
          letter-spacing: 0px;
          margin: 24px 0 0;
        }

        .pricing {
          margin: 24px 0 0;

          .price {
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 1.2857142686843872px;
          }

          .amount {
            margin: 31px 0 0;
            display: flex;
            gap: 16px;

            .increase-decrease {
              width: 120px;
              height: 48px;
              padding: 0 15.5px;
              //flex
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 20px;
              //background
              background-color: $gray_white;

              button {
                border: none;
                cursor: pointer;
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1px;
                background-color: inherit;
                color: $black;
              }

              button:hover,
              button:active {
                color: $dark_brown;
                background-color: inherit;
              }

              p {
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1px;
              }
            }

            button {
              width: 160px;
              height: 48px;
              background-color: $dark_brown;
              color: $white;
              border: none;
              cursor: pointer;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 700;
              line-height: 18px;
              letter-spacing: 1px;
            }

            button:hover,
            button:active {
              background-color: $light_brown;
            }
          }
        }
      }
    }

    // media for section 1 and a
    @media (min-width: 768px) {
      .goBack {
        margin: 33px 0 0 40px;
      }

      .section-1 {
        padding: 24px 39px 0;
        flex-direction: row;
        align-items: center;
        gap: 69px;

        .product-content {
          h3 {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 8.571428298950195px;
          }

          h1 {
            line-height: 32px;
          }

          .description {
            margin: 32px 0 0;
          }

          .pricing {
            margin: 32px 0 0;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .goBack {
        margin: 79px 0 0 165px;
      }

      .section-1 {
        padding: 56px 165px 0;
        gap: 124.5px;

        .product-content {
          h3 {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 10px;
          }

          h1 {
            margin: 16px 0 0;
            font-size: 40px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 1.4285714626312256px;
          }

          .pricing {
            .amount {
              margin: 47px 0 0;
            }
          }
        }
      }
    }

    // section 2
    .section-2 {
      padding: 88px 24px 0;
      // flex
      display: flex;
      flex-direction: column;
      gap: 88px;

      .info-1 {
        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0.8571428656578064px;
          text-transform: uppercase;
        }

        p {
          font-size: 15px;
          font-weight: 500;
          line-height: 25px;
          letter-spacing: 0px;
          margin: 24px 0 0;
        }
      }

      .info-2 {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0.8571428656578064px;
        }

        .inner-info {
          display: flex;
          flex-direction: column;
          gap: 8px;

          p {
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0px;

            span {
              font-weight: 700;
              color: $dark_brown;
              margin: 0 24px 0 0;
            }
          }
        }
      }
    }

    // media for section 2
    @media (min-width: 768px) {
      .section-2 {
        padding: 120px 40px 0;
        gap: 120px;

        .info-1 {
          h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 1.1428571939468384px;
          }

          .top-p {
            margin: 32px 0 0;
          }
        }

        .info-2 {
          flex-direction: row;
          gap: 169px;

          h2 {
            font-size: 32px;
            letter-spacing: 1.1428571939468384px;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .section-2 {
        padding: 160px 165px 0;
        gap: 125px;
        flex-direction: row;

        .info-1 {
          max-width: 625px;
        }

        .info-2 {
          flex-direction: column;
          gap: 32px;
        }
      }
    }

    //section 3
    .section-3 {
      padding: 88px 24px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .left,
      .right {
        .img {
          picture {
            img {
              border-radius: 8px;
            }
          }
        }
      }
    }

    // media for section 3
    @media (min-width: 768px) {
      .section-3 {
        padding: 120px 39px 0;
        flex-direction: row;
        justify-content: center;
        gap: 18px;

        .left {
          gap: 20px;
          justify-content: space-between;
        }
      }
    }

    @media (min-width: 1440px) {
      .section-3 {
        padding: 160px 165px 0;
      }
    }

    // section 4
    .section-4 {
      padding: 120px 24px 0;

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.8571428656578064px;
        text-transform: uppercase;
        text-align: center;
      }

      .sugestions {
        margin: 40px 0 0;
        display: flex;
        flex-direction: column;
        gap: 56px;

        .sugestion {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 32px;

          .sugestion-image {
            picture {
              img {
                border-radius: 8px;
              }
            }
          }

          .sugestion-content {
            h2 {
              font-size: 24px;
              font-weight: 700;
              line-height: 33px;
              letter-spacing: 1.7142857313156128px;
            }

            a {
              margin: 0;

              button {
                margin: 28px 0 0;
                width: 160px;
                height: 48px;
                background-color: $dark_brown;
                color: $white;
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1px;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    // media for section 4
    @media (min-width: 768px) {
      .section-4 {
        padding-inline: 39px;

        h2 {
          font-size: 32px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 1.1428571939468384px;
        }

        .sugestions {
          margin: 56px 0 0;
          flex-direction: row;
          gap: 11px;

          .sugestion {
            gap: 40px;

            .sugestion-content {
              a {
                button {
                  margin: 32px 0 0;
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .section-4 {
        padding: 160px 165px 0;

        .sugestions {
          margin: 64px 0 0;
          gap: 30px;
        }
      }
    }

    // section 5
    .section-5 {
      padding: 120px 24px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 68px;

      .div {
        width: 327px;
        height: 165px;
        border-radius: 8px;
        background-color: $gray_white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-div {
          width: 138px;
          height: 88px;

          .accessory-img {
            position: relative;
            top: -40px;
          }
        }

        .img-div-3 {
          width: 165px;
        }

        p {
          font-size: 15px;
          font-weight: 900;
          line-height: 20px;
          letter-spacing: 1.0714285373687744px;
          text-transform: uppercase;
        }

        a {
          margin: 17px 0 0;
          display: flex;
          align-items: center;
          gap: 13.32px;
          text-decoration: none;

          p {
            color: $black;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 1px;
          }

          img {
            width: 9px;
            height: 14px;
          }
        }

        a:hover {
          p {
            color: $dark_brown;
          }
        }
      }
    }

    // media for section 5
    @media (min-width: 768px) {
      .section-5 {
        padding-inline: 39px;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        .div {
          width: 100%;
        }
      }
    }

    @media (min-width: 1200px) {
      .section-5 {
        gap: 30px;
      }
    }

    @media (min-width: 1440px) {
      .section-5 {
        padding: 160px 165px 0 165px;
      }
    }

    // section 6
    .section-6 {
      padding: 120px 24px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      picture {
        img {
          max-width: 100%;
          border-radius: 8px;
        }
      }

      .text-content {
        h2 {
          margin: 40px 0 0;
          text-transform: uppercase;
          font-size: 28px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 1px;

          span {
            color: $dark_brown;
          }
        }

        p {
          max-width: 573px;
          margin: 32px 0 0;
          font-size: 15px;
          font-weight: 500;
          line-height: 25px;
          letter-spacing: 0px;
        }
      }
    }

    // media for section 6
    @media (min-width: 768px) {
      .section-6 {
        padding: 120px 39px 0;

        .text-content {
          h2 {
            max-width: 573px;
            font-size: 40px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 1.4285714626312256px;
            margin: 63px 0 0;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .section-6 {
        padding: 160px 165px 0;
        flex-direction: row-reverse;
        gap: 125px;
        text-align: left;

        .text-content {
          h2 {
            max-width: 445px;
          }

          p {
            max-width: 445px;
          }
        }
      }
    }
  }

  // footer
  footer {
    // margin and padding
    margin: 120px 0 0;
    padding: 52px 24px 38px;
    // color
    background-color: $black;
    color: $white;
    // flex
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;

    .footer-flex-top {
      display: flex;
      flex-direction: column;
      gap: 48px;

      a {
        img {
          margin: 0 auto;
        }
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $white;
          font-size: 13px;
          font-weight: 700;
          line-height: 25px;
          letter-spacing: 2px;
        }
      }
    }

    .big-p {
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0px;
    }

    .footer-flex-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;

      .small-p {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
      }

      .social-links {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
  }

  //media for footer
  @media (min-width: 768px) {
    footer {
      //padding
      padding: 60px 40px 46px 39px;
      gap: 0;

      .footer-flex-top {
        gap: 32px;

        a {
          img {
            margin: 0;
          }
        }

        .footer-links {
          flex-direction: row;
          gap: 34px;
        }
      }

      .big-p {
        margin: 32px 0 0;
        text-align: left;
        max-width: 689px;
      }

      .footer-flex-bottom {
        margin: 80px 0 0;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  @media (min-width: 1440px) {
    footer {
      //margin and padding
      margin: 160px 0 0;
      padding: 75px 165px 48px;

      .footer-flex-top {
        flex-direction: row;
        justify-content: space-between;
      }

      .big-p {
        max-width: 540px;
        margin: 36px 0 0;
      }

      .footer-flex-bottom {
        margin: 56px 0 0;

        .social-links {
          position: relative;
          bottom: 77px;
        }
      }
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;

  .product-info {
    display: flex;
    gap: 16px;

    .product-name-and-price {
      display: flex;
      flex-direction: column;

      .product-name {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
      }

      .product-price {
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0px;
      }
    }
  }

  .mini-increase-decrease {
    width: 96px;
    height: 32px;
    padding: 0 11.5px;
    background-color: $gray_white;
    gap: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: none;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
    }

    button:hover,
    button:active {
      color: $dark_brown;
    }

    p {
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
    }
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.products {
  position: absolute;
  top: 122.4px;
  right: 24px;
  left: 24px;
  padding: 31px 28px;
  max-width: 100%;
  border-radius: 8px;
  background-color: $white;
  // width: 377px;

  .number-of-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 31px;

    h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 1.2857142686843872px;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0px;
      text-decoration: underline;
      cursor: pointer;
    }

    p:hover {
      color: $dark_brown;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 0;

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0px;
      text-transform: uppercase;
    }

    .price {
      font-size: 18px;
      font-weight: 700;
    }
  }

  a {
    button {
      margin: 24px 0 0;
      width: 100%;
      height: 48px;
      border: none;
      cursor: pointer;
      background-color: $dark_brown;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
    }

    button:hover {
      background-color: $light_brown;
    }
  }
}

// media for that
@media (min-width: 425px) {
  .products {
    width: 377px;
    right: 0;
    left: calc(100% - 377px - 24px);
  }
}

@media (min-width: 768px) {
  .products {
    top: 127.4px;
    left: calc(100% - 377px - 40px);
  }
}

@media (min-width: 1440px) {
  .products {
    top: 126.4px;
    left: calc(100% - 377px - 165px);
  }
}
